.serve_box{
	color: #666666;
	float: right;
}
.serve_box span{
	display: block;
}
.serve_one{
	margin-top: -30px;
}
.serve_club{
	color: #666666;
	margin-top: 10px;
}
.serve_status{
	height: 60px;
	line-height: 60px;
	background: #EFEFF4;
	color: #666666;
}
