.serve_club{
	color: #666666;
	margin-top: 10px;
}
.item_list{
	height: 65px;
	line-height: 60px;
	border-bottom: 1px solid #CCCCCC;
	color: #666666;
}
.item_left{
	width: 30%;
	float: left;
}
.item_right{
	width: 70%;
	float: left;
}
.item_right span{
	display: block;
}
.item_top{
	margin-top: -10px;
}
.item_bottom{
	margin-top: -40px;
	font-size: 14px;
}
.item_right_img{
	width: 40px;
	height: 40px;
	float: left;
}
.item_right_name,.item_right_num{
	margin-left: 20px;
	float: left;
}
.capacity_submit{
	color: #FFFFFF;
	display: block;
	width: 90%;
	height: 30px;
	line-height: 30px;
	margin: 20px auto;
	background: #00FF1C;
	padding: 0;
}
.item_right_submit{
	width: 100px;
	height: 30px;
	line-height: 30px;
	padding: 0;
	margin-top: 15px;
	background: #00FF1C;
	color: #FFFFFF;
}
.item_confirm{
	text-align: center;
	width: 96%;
	margin: 20px auto;
	border: 2px solid #CCCCCC;
	border-radius: 5px;
}
.item_confirm_top{
	margin-top: 10px;
}
.item_confirm_bottom{
	margin-top: -12px;
}
